<script src="~/lib/angularjs/angular.js"></script>
    <h1 class="page-header text-center">Angular</h1>

<div class="container">
    <div ng-app="AngApp" ng-controller="AngCon">
        <button class="btn btn-default btn-block" ng-click="getPackageData()">Find Packages</button>
        <br />
        <button class="btn btn-default btn-block" ng-click="getsearchData()">Filter Search</button>
        <br />
        <div class="row">
            <div ng-show="showPackages">
                <h3 class="text-center">All Packages</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Package ID</td>
                                <td>Package Name</td>
                                <td>Location</td>
                                <td>Details</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in allResults">
                                <td>{{x.packageId}}</td>
                                <td>{{x.packageName}}</td>
                                <td>{{x.location}}</td>
                                <td>{{x.details}}</td>
                                <td>{{x.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div ng-show="searchPackages">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="input-group">
                            <input type="text" ng-model="location" class="form-control" placeholder="Search by location">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="searchByLocation()" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                        <br />
                    </div>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" ng-model="criteria" placeholder="Filter Search">
                    </div>
                </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <td>Package ID</td>
                                <td>Package Name</td>
                                <td>Location</td>
                                <td>Details</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in pac | filter: criteria ">
                                <td>{{x.packageId}}</td>
                                <td>{{x.packageName}}</td>
                                <td>{{x.location}}</td>
                                <td>{{x.details}}</td>
                                <td>{{x.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    <script>
        var app = angular.module("AngApp", []);

        app.controller("AngCon", function ($scope, $http) {
            $scope.getPackageData = function () {
                //Show first div, hide second div
                $scope.showPackages = true;
                $scope.searchPackages = false;
                $http.get('/api/package/allpackages').success(function (arrData) {
                    $scope.allResults = arrData;
                });
            }

            $scope.getsearchData = function () {
                //Hide first div, show second div
                $scope.showPackages = false;
                $scope.searchPackages = true;
                //Get packages via location
                $scope.location = "";
                $scope.searchByLocation = function () {
                    $http.get('/api/package/location/?=' + $scope.location).success(function (data) {
                        $scope.pac = data;
                    })
                }
            }
        });
    </script>
    </div>
</div>


