@model CreatePackageViewModel

<h1 class="page-header">Add Package</h1>

<form class="form-horizontal" asp-controller="Package" asp-action="Manage" method="post" role="form" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="PackageName" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <input asp-for="PackageName" class="form-control" id="PackageName" placeholder="Package Name" />
            <span asp-validation-for="PackageName"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <input asp-for="Location" class="form-control" id="Location" placeholder="Location" />
            <span asp-validation-for="Location"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Details" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <textarea class="form-control" rows="3" asp-for="Details" id="Details" placeholder="Details"></textarea>
            <span asp-validation-for="Details"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <input asp-for="Price" class="form-control" id="Price" placeholder="Price" />
            <span asp-validation-for="Price"></span>
        </div>
    </div>

     @*<div class="form-group">
        <label asp-for="Availability" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <input asp-for="Availability" class="form-control" id="Availability"/>
            <span asp-validation-for="Availability"></span>
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <div class="checkbox">
                <label asp-for="Availability">
                    <input type="checkbox" asp-for="Availability" class="form-control" id="Availability" />
                    <span asp-validation-for="Availability"></span>
                </label>
            </div>
        </div>
    </div>

    @*<div>
        <input type="hidden" asp-for="PackageId" />
    </div>*@

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>