@using NatashaAgileProject.Models
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@model DisplayRoleViewModel

<h1>User Roles</h1>
<table>
    @foreach (IdentityRole item in Model.Roles)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>