@model AddOrderViewModel
<h1 class="page-header">Order Package</h1>

<form class="form-horizontal" asp-controller="Order" asp-action="OrderPackage" method="post" role="form" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly"></div>
       
    <div>
        <input type="hidden" asp-for="OrderId" />
    </div>

    <div class="form-group">
        <label asp-for="PackageId" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <input readonly="readonly" asp-for="PackageId" class="form-control" id="PackageId" />
            <span asp-validation-for="PackageId"></span>
        </div>
    </div>
       
    <div class="form-group">
        <label asp-for="PackageName" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <input readonly="readonly" asp-for="@Model.Packages.PackageName" class="form-control" id="PackageName" placeholder="PackageName" />
            <span asp-validation-for="PackageName"></span>
        </div>
    </div>

        <div class="form-group">
            <label asp-for="Date" class="col-sm-2 control-label"></label>
            <div class="col-sm-5">
                <input readonly="readonly" asp-for="@Model.Date" class="form-control" id="Date" />
                <span asp-validation-for="Date"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UserName" class="col-sm-2 control-label"></label>
            <div class="col-sm-5">
                <input readonly="readonly" asp-for="@User.Identity.Name" class="form-control" id="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button type="submit" class="btn btn-default">Order</button>
            </div>
        </div>
</form>
