@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <style>
    .navbar-brand > img{
        margin-top:-20px;
        height:61px;
        width:auto;
    }
    .welcome{margin-top:15px;}

    #logout{margin-top:10px;}
    
    .footer{
        align-content:center;
        background-color:lightgrey;
        width:auto;
    }
    </style>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <div class="container-fluid">
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                @*Navbar*@
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" herf="/Home/Index">
                            <img alt="Brand" src="~/Images/gt_logo.png">
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><p class="welcome">Welcome: @User.Identity.Name</p></li>
                            <li><a asp-controller="Account" asp-action="UpdateUser">Update Details</a></li>
                            <li>
                                @*<form method="post" asp-controller="Account" id="logout" asp-action="Logout">
                                    <input type="submit" value="Logout" />
                                </form>*@

                                <form method="post" asp-controller="Account" id="logout" asp-action="Logout">
                                    <input class="btn btn-default" type="submit" value="Logout" />
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-left">
                            <li><a asp-controller="Package" asp-action="Packages">Packages</a></li>
                            <li><a asp-controller="Package" asp-action="Search">Search</a></li>

                            @if (User.IsInRole("Provider"))
                            {
                                <li><a asp-controller="Package" asp-action="Manage">Manage</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" herf="/Home/Index">
                            <img alt="Brand" src="~/Images/gt_logo.png">
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li><a asp-controller="Package" asp-action="Packages">Packages</a></li>
                            <li><a asp-controller="Package" asp-action="Search">Search</a></li>
                            <li><a asp-controller="Package" asp-action="Angular">Filter Search</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div>
            @RenderBody()
        </div>
        <br /> 
           @* Footer *@
        <footer class="footer">
            <div class="container"> 
                <div class="row text-center">
                    <div class="col-sm-4">
                        <strong>About Grande Travel</strong>
                        <p>Syd CBD</p>
                        <p>324 Pitt St</p>
                        <p>2219</p>
                    </div>

                    <div class="col-sm-4">
                        <strong>Contact Details</strong>
                        <p>Email:</p>
                        <p>Phone:95886432</p>
                    </div>
                </div> 

                <div class="row text-center">
                    <div class="col-sm-4">&copy; Natasha Bekvalac 2016. All Rights Reserved.</div>
                    <p class="pull-right"><a href="#">Back to top</a></p>
                </div>                                                               
            </div>
        </footer>
    </div>
</body>
</html>